.container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img {
    width: 48px;
    height: 48px;
}

.text {
    font-size: 12px;
    margin-top: 10px;
}

.text:hover {
    color: #00d1b2
}