.imageContainer {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #4c69c9;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 620px) {
  .imageContainer {
    height: 400px;
  }
}

.logo {
  margin-top: 100px;
  border-radius: 50%;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.contentContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  top: 350px;
  left: 0;
  background-color: white;
  align-items: center;
}

@media (max-width: 620px) {
  .contentContainer {
    top: 400px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin-top: 0;
  margin-bottom: 100px;
}

.title2 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: auto;
}

.image {
  margin-left: 5%;
  width: 90%;
  height: auto;
}

.bottomContainer {
  position: absolute;
  width: 100vw;
  height: 80px;
  /* margin-top: 20px; */
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
}
.bottom {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.bottomImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: center;
}

.bottomText {
  font-size: 12px;
  margin-left: 5px;
  color: #00d1b2;
}

.bottomText:hover {
  color: black;
}